.text-gui-dang-ki {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 91px;
}
.confirmation-icon {
  width: 19px;
  height: 19px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.btn-send-api,
.loading-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 0 0;
}
.btn-send-api {
  cursor: pointer;
  border: 0;
  padding: 7px 20px;
  background-color: #4069e5;
  width: 321px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 17px 35px rgba(23, 26, 31, 0.24);
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  gap: 5px;
  max-width: 100%;
}
