.right-panel {
  flex: 1;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: #fefefe;
  border: 9px solid #4f5262;
  box-sizing: border-box;
  flex-direction: column;
  padding: 5px 13px 0;
  gap: 259px;
  max-width: calc(100% - 363px);
  flex-shrink: 0;
}
.content,
.main-page,
.right-panel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  height: 752px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.main-page {
  width: 100%;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .right-panel {
    display: none;
  }
  .content {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .right-panel {
    gap: 129px;
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .right-panel {
    gap: 65px;
  }
  .content {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .right-panel {
    gap: 32px;
  }
}
