.container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 3rem 0;
    flex-direction: column;
}

table {
    border-spacing: 0;
    /*border: 1px solid black;*/
}


th,
td {
    margin: 0px;
    padding: 0.5rem;
    /*border-bottom: 1px solid black;*/
    /*border-right: 1px solid black;*/
}
th:last-child ,
td:last-child {
    border-right: 0;
}

.table-class-registed-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-class-registed {
    width: 100%;
    border-collapse: collapse;
}

.table-class-registed th,
.table-class-registed td {
    border: 3px solid #ddd;
    padding: 8px;
    transition: background-color 3s
}

.table-class-registed th {
    background-color: #e3c3c3;
    text-align: left;
}
.custom-table td:hover {
    background-color: #8a3132; /* Màu nền khi hover */
}

